<div id="createInvoice">
    <h2>Create An Invoice</h2>
    <!-- ko with: selectedInvoice -->
    <p>User: <span data-bind="text: User.FirstName"></span> <span data-bind="text: User.LastName"></span></p>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h5>Billing Info</h5>
            <div>
                Address: <span data-bind="text: User.Address1"></span><br/>
                <div id="shipping2"><span data-bind="text: User.Address2"></span></div>
                City: <span data-bind="text: User.City"></span><br/>
                State: <span data-bind="text: User.State"></span><br/>
                Zip: <span data-bind="text: User.ZipCode"></span><br/>
                Country: <span data-bind="text: User.Country"></span><br/>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h5>Shipping Info</h5>
            <div>
                Address: <span data-bind="text: User.ShippingAddress1"></span><br/>
                <div id="shipping2"><span data-bind="text: User.ShippingAddress2"></span></div>
                City: <span data-bind="text: User.ShippingCity"></span><br/>
                State: <span data-bind="text: User.ShippingState"></span><br/>
                Zip: <span data-bind="text: User.ShippingZipCode"></span><br/>
                Country: <span data-bind="text: User.ShippingCountry"></span><br/>
            </div>
        </div>
    </div>

    <br />
    <h4>Line Items <button class="button" data-bind="click: function() { $root.addLineItem(); }">+</button></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cert #</th>
                <th>Name</th>
                <th>Price $</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: LineItems">
            <tr>
                <td><input type="text" data-bind="value: Item.Cert" /></td>
                <td><input type="text" data-bind="value: Item.Name" /></td>
                <td><input type="number" pattern="^\d+(\.|\,)\d{2}$" data-bind="value: Price, " /></td>
                <td><button class="button" data-bind="click: function(){ $root.removeLineItem($index()); }">-</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td style="text-align: right">Tax: </td>
                <td><input type="number" pattern="^\d+(\.|\,)\d{2}$" data-bind="value: Tax" /></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right">Shipping: </td>
                <td><input type="number" pattern="^\d+(\.|\,)\d{2}$" data-bind="value: Shipping" /></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right">Total: </td>
                <td><input type="number" pattern="^\d+(\.|\,)\d{2}$" data-bind="value: $root.invoiceTotal(), attr: {disabled:'disabled'}" /></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <!-- /ko -->
</div>
