<div id="userImportForm">
    <form id="userFileUploadForm" enctype="multipart/form-data" action="/user/import" method="post" >
        <input type="file" name="userList" />
        <input type="submit" value="upload" />
    </form>
</div>
