<div id="userInfo" data-bind="with: selectedUser">
    <h2><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></h2>

    <a data-bind="attr: {href: '#/user/invoices/' + Id()}">Invoices</a> | 
    <a data-bind="attr: {href: '#/invoices/create/' + Id()}">Create an Invoice</a>
    <br /><br />
    
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Address 1</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: Address1"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Address 2</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: Address2"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">City</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: City"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">State</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: State"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Zip Code</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ZipCode"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Country</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: Country"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Email</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: Email"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">Day Phone</div>
        <div class="col-xl-3 col-md-6" data-bind="text: DayPhone"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">Evening Phone</div>
        <div class="col-xl-3 col-md-6" data-bind="text: EveningPhone"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">Taxpayer Id</div>
        <div class="col-xl-3 col-md-6" data-bind="text: TaxpayerId"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">UserName</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: UserName"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Company</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: Company"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping First Name</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingFirstName"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Last Name</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingLastName"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Company</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingCompany"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Address 1</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingAddress1"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Address 2</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingAddress2"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping City</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingCity"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping State</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingState"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Zip Code</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingZipCode"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Shipping Country</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: ShippingCountry"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Cell Phone</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: CellPhone"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-xs-6">Fax Number</div>
        <div class="col-xl-3 col-md-6 col-xs-6" data-bind="text: FaxNumber"></div>
    </div>
</div>
