<h2>Auction Create</h2>
<a href="#/inventory/auctions">back</a><br/>
<div id="createAuction" class="panel panel-default">
    <div class="panel-heading">Create A Single Record</div>
    <div class="panel-body">

        <div class="container-fluid table-responsive table-scrollable">
            <table class='table table-striped well'>
                <thead>
                    <tr>
                        <th>Auction Name</th>
                    </tr>
                </thead>
                <tbody data-bind="with: selectedAuction">
                    <tr>
                        <td><input type="text" data-bind="value: Name" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" data-bind="click: function() { $root.saveAuction(); }" value="Save" />
    </div>
</div>

