<h2>Inventory</h2>

<a href="#/inventory/auctions">Auctions</a> | 
<a href="#/inventory/create">Create</a>

<div id="inventoryView">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Inventory Name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: inventoryItems">
            <tr>
                <td><a data-bind="click: function(data){ location.hash = '/inventory/'+data.Id }">edit</a></td>
                <td data-bind="text: Name"></td>
            </tr>
        </tbody>
   </table>
</div>
