<span ng-click="edit()" ng-bind="value.Name"></span>: <span ng-click="edit()" ng-bind="value.Description"></span> 
<input type="text" ng-model="value.Name"></input><input type="text" ng-model="value.Description"></input>
