<div class="col-sm-3 well">
    <h3>Lots</h3>
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="active" ng-repeat="l in lots">
            <edit-lot-in-place value="l"></edit-lot-in-place>
        </li>
    </ul>
</div>
