<h2>Users</h2>
<a href="#/user/import">Import CSV</a><br /><br />

<div id="userList">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">User Name <input type="text" data-bind="value: searchUserName" /></div>
        <div class="col-lg-4 col-md-4 col-xs-12">First Name <input type="text" data-bind="value: searchFirstName" /></div>
        <div class="col-lg-4 col-md-4 col-xs-12">Last Name <input type="text" data-bind="value: searchLastName" /></div>
    </div>
    <button data-bind="click: function(){ $root.resetOffsetLimit(); $root.getUserList(); }">Search</button>
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users">
        <tr data-bind="click: function(){ ko.mapping.fromJS($data,$root.selectedUser); location.hash = '/user/' + $data.Id;}">
                <td data-bind="text: UserName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: Email"></td>
            </tr>
        </tbody>
    </table>
    <button class="button" data-bind="visible: $root.currentOffset() > 0, click: function(){ $root.currentOffset($root.currentOffset() - $root.currentLimit());
        $root.getUserList();
        }">< Previous</button>
    <button class="button" data-bind="click: function(){ $root.currentOffset($root.currentOffset() + $root.currentLimit());
        $root.getUserList();
        }">Next ></button>
</div>
