<h2>Auctions</h2>
<a href="#/inventory/auctions/create">Create New</a>

<div id="auctionView">
    <table>
        <thead>
            <tr>
                <th>Auction Name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: auctions">
            <tr>
                <td><a data-bind="text: Name, click: function(){ location.hash = '/inventory/auctions/' + $data.Id; }"></a></td>
            </tr>
        </tbody>
   </table>
</div>
