<h2>Inventory Create</h2>

<div id="createView" class="panel panel-default">
    <div class="panel-heading">Create A Single Record</div>
    <div class="panel-body">

        <div class="container-fluid table-responsive table-scrollable">
            <table class='table table-striped well'>
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>ConsignerId</th>
                        <th>Commission</th>
                        <th>Sport</th>
                        <th>Cert</th>
                        <th>Year</th>
                        <th>Set</th>
                        <th>CardNumber</th>
                        <th>Name</th>
                        <th>Variety</th>
                        <th>Grade</th>
                        <th>Smr</th>
                        <th>Cost</th>
                        <th>StartingBid</th>
                        <th>LotNumber</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Spacing</th>
                        <th>Auction</th>
                        <th>EnteredDate</th>
                        <th>LastModified</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td><input type="number" data-bind="value: selectedInventory.UserId" /></td>
                        <td><input type="number" data-bind="value: selectedInventory.ConsignerId" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Commission" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Sport" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Cert" /></td>
                        <td><input type="number" min="1800" size="4" maxlength="4" data-bind="value: selectedInventory.Year" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Set" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.CardNumber" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Name" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Variety" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Grade" /></td>
                        <td><input type="number" data-bind="value: selectedInventory.Smr" /></td>
                        <td><input type="number" data-bind="value: selectedInventory.Cost" /></td>
                        <td><input type="number" data-bind="value: selectedInventory.StartingBid" /></td>
                        <td><input type="number" data-bind="value: selectedInventory.LotNumber" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Title" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Description" /></td>
                        <td><input type="text" data-bind="value: selectedInventory.Spacing" /></td>
                        <td><select data-bind="options: auctions,
                                optionsText: 'Name',
                                optionsValue: 'Id',
                                value: selectedInventory.AuctionId,
                                optionsCaption: 'Select One'">
                            </select>
                        </td>
                        <td><input type="date" data-bind="value: selectedInventory.EnteredDate" /></td>
                        <td><input type="date" data-bind="value: selectedInventory.LastModified" /></td>
                        <td><select data-bind="value: selectedInventory.Active">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="button" data-bind="click: function() { $root.saveNewInventory(); }" value="Save" />
    </div>
</div>

